*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.container{
  width: 80%;
  max-width: 1000px;
 margin: 0 auto;
}

/* //header */
.bg-gray{
  background-color: gray;
}

/* UTILITIES */
.p-20{
  padding: 20px;
}

.p-top-100{
padding-top: 100px;
}

.text-header{
color: white;
font-size: 4rem;
}

.border{
  border: 1px solid black;
}

button{
  padding: 10px;
  border-radius: 5px;
  color: white;
  background-color: blue;
  border: 0;
  font-size: 2rem;
}

.btn-active{
  background-color: yellow;
  color: black;
}


/* layout */
.flex{
  display: flex;
}

.text-center{
  text-align: center;
}

